*{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  margin: 0;
  padding: 0;

}

.navbar{
  background-color:rgb(194, 191, 191);
  background-size: auto;
  overflow: hidden;
  display:flex
}
.navbar button{
  border: none;
  background-color: rgb(194, 191, 191) ;
}

.nav-btn{
  float: left;
  text-align: center;
  padding: 14px 16px;
  margin: 3px;
  
 
}

.slidecontainer{
  display:flex
}
.fmax{
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.putnoise{
  float: left;
  text-align: center;
  padding: 14px 16px;
}

/* Change the color of links on hover */
.nav-btn:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
} 
.nav-btn:active{
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 16) inset;
}

#box{
  margin: 2%;
  padding: 2%;
  border: 3px solid skyblue;
  border-radius: 3px;
  max-height: 400px;

}
.fig{
  width: 60%;

}
.slider{
  width: 40%;
  position: relative;
  left: 40%;
}
.main{
  width: 60%;
  /* margin: 24% auto; */
  position: relative;
  display: inline-block;
}

#slider{
  -webkit-appearance: none;  
  width: 100%;
  height: 7px;
  outline: none;
  border-radius: 3px;
  background-color: green;
}
#slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
#selector{
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.selectorBtn{
  height: 18px;
  width: 18px;
  background-color: #1b458d;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#bar{
  width: 50%;
  height: 7px;
  background: #1b458d;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 0;
}
#value{
  /* width: 48px;
  height: 40px;
  position: fixed;
  top: -5px;
  left: 900px;
  text-align: center;
  line-height: 45px; */
  background-color:white;
  /* font-size: 20px; */
  font-weight: bold;
  padding-left: 10px;
  color: #1b458d;
}
.SNR{
  padding-right: 16px;
}

 /* naira version of slider */
/* .slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} */