*{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  margin: 0;
  padding: 0;

}
.navbar{
  background-color:rgb(194, 191, 191);
  background-size: auto;
  overflow: hidden;
  display:flex
}

.first{
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.second{
  float: left;
  text-align: center;
  padding: 14px 16px;
}
.slidecontainer{
  display:flex
}
.fmax{
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.putnoise{
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.third{
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.forth{
  float: left;
  text-align: center;
  padding: 14px 16px;
}
.fifth{
  float: left;
  text-align: center;
  padding: 14px 16px;
}
/* Change the color of links on hover */
.first:hover {
  background-color: #ddd;
  color: black;
} 

.second:hover {
  background-color: #ddd;
  color: black;
}


.third:hover {
  background-color: #ddd;
  color: black;
}

.forth:hover {
  background-color: #ddd;
  color: black;
}
.fifth:hover {
  background-color: #ddd;
  color: black;
}

#box{
  margin: 2%;
  padding: 2%;
  border: 3px solid skyblue;
  border-radius: 3px;
  max-height: 400px;

}
.fig{

}

.main{
  width: 60%;
  margin: 24% auto;
  position: relative;
}

#slider{
  -webkit-appearance: none;  
  width: 100%;
  height: 7px;
  outline: none;
  border-radius: 3px;
  background-color: green;
}
#slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
#selector{
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.selectorBtn{
  height: 46px;
  width: 41px;
  background-image: url(/static/images/slider.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
  left: 3px;
}
#selectorValue{
  width: 48px;
  height: 40px;
  position: absolute;
  top: 0;
  background: #1b458d;
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#selectorValue::after{
  content: '';
  border-top: 17px solid #1b458d;
  border-left: 24px solid white;
  border-right: 24px solid white;
  position: absolute;
  bottom: -14px;
  left: 0;
}
#bar{
  width: 50%;
  height: 7px;
  background: #1b458d;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 0;
}
.onclick{
  background-color: rgb(194, 191, 191) ;
}
.SNR{
  padding-right: 16px;
}
 /* naira version of slider */
/* .slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} */